<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fnservicebus2023.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/92b040d4-64f8-48fc-a066-ba79632ef27b/resourcegroups/RU/providers/Microsoft.Web/sites/fnServiceBus2023</ResourceId>
    <UserName>$fnServiceBus2023</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://fnservicebus2023.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>